server:
  port: 8086

spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: "com.gestor_empresarial.auth_server.dtos.UserNotificationDto:com.gestor_empresarial.notification_service.dtos.RegistrationNotificationRequestDto, com.gestor_empresarial.registration_service.dtos.RegistrationNotificationDto:com.gestor_empresarial.notification_service.dtos.InscriptionNotificationRequestDto"