server:
  port: 8082 

logging:
  level:
    org.springframework.web.cors: DEBUG
    
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
      - AuthenticationFilter
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:8080"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: auth-server
          uri: lb://auth-server
          predicates:
            - Path=/api/auth/**
        - id: events-service
          uri: lb://events-service
          predicates:
            - Path=/api/events/**
        - id: registration-service
          uri: lb://registration-service
          predicates:
          - Path=/api/registrations/**
        - id: notification-service
          uri: lb://notification-service
          predicates:
          - Path=/api/notifications/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: bXlfc3VwZXJfc2VjcmV0X2tleV9mb3Jfanp3dF9pbl9iYXNlNjQ= 
  expiration: 3600000 
