apiVersion: apps/v1
kind: Deployment
metadata:
  name: event-service
  namespace: event-manager
spec:
  selector:
    matchLabels:
      app: event-service
  template:
    metadata:
      labels:
        app: event-service
    spec:
      containers:
      - name: event-service
        image: gestor_eventos_empresariales_inteligente-event-service:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: DB_EVENTS_HOST
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: DB_EVENTS_HOST
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://$(DB_EVENTS_HOST):5432/events_db"
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: username
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: SPRING_KAFKA_BOOTSTRAP_SERVERS
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
---
apiVersion: v1
kind: Service
metadata:
  name: event-service
  namespace: event-manager
spec:
  selector:
    app: event-service
  ports:
  - port: 8080
    targetPort: 8080
