server:
  port: 8084 
  error:
    include-message: always 

spring:
  application:
    name: events-service
  datasource:
    url: jdbc:postgresql://localhost:5433/events_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/ 